/* Responsive Design */
@media (max-width: 1200px) {
    .details-panel {
        width: 280px;
        min-width: 240px;
    }
}

@media (max-width: 900px) {
    .details-panel {
        position: fixed;
        right: 20px;
        top: 100px;
        bottom: 20px;
        width: 320px;
        z-index: 200;
    }
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: row;
    }

    .sidebar {
        width: 100%;
        max-height: 200px;
    }

    .details-panel {
        width: 90vw;
        max-width: 400px;
    }

    .breadcrumb {
        display: none;
    }
}